<div class="col-md-5 col-md-offset-3">
    <h1></h1>
    <form data-toggle="validator" class="well well-lg" role="form">
        <div class="form-group">
            <label class="control-label" for="inputName">Name</label>
            <input type="text" class="form-control" ng-model="name" id="inputName" placeholder="Boaty McBoatface"
                   required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default btn-lg" ng-click='open(name)'>
                <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span> Play
            </button>
            <button type="button" class="btn btn-primary btn-lg " data-toggle="modal" data-target="#myModal">
                Rules
            </button>
        </div>
    </form>

    <h1><a class="lobster" href="#/analytics"> Analytics <span class="badge">{{gamesPlayed}}</span></a></h1>
    <br/>
    <blockquote>
        <p>Most riveting game of 2016, created for CS451</p>
        <footer>Developed by
            <cite title="Source Title">Renju, Alec, Daniel, Eddie</cite>
        </footer>
    </blockquote>
    <br/><br/>
    <br/><br/>
</div>

<!--<footer class="footer ">-->
    <!--<div class="container">-->

    <!--</div>-->
<!--</footer>-->
